// TODO add speachbox with classname/ title on hover

$clr-selected: rgba(255,255,255,.3); //TODO REMOVE this

.app-aside{
    width: 66px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    background-color: #292F4C;
    color: white;

    .icon-wrapper{
        width: 54px;
        margin-bottom: 8px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            color: inherit;
        }
    }
    
    .filler{
        flex-grow: 1;
    }
    .aside-icon:hover, .aside-img :hover{
        background-color: #1c1f3b;
    }

    .aside-icon, .aside-img{
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aside-icon{
        width: 40px;
        height: 40px;
        font-size: 15px;
        font-weight: 300;
        font-family: 'RobotoLight';
        position: relative;
    }

    .aside-img{
        height: 40px;
        width: 40px;
        margin-bottom: 8px;
    }
    .logo{
        margin-top: 8px;
    }

    .avatar{
        border: 2px solid white;
        border-radius: 50%;
    }
}
