$clr-selected: rgba(255,255,255,.3);



.app-aside{
    width: 66px;
    // height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    // vertical-align: baseline;

    background-color: #292F4C;
    color: white;

    .icon-wrapper{
        width: 54px;
        margin-bottom: 8px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .aside-icon:hover, .aside-img :hover{
        background-color: #1c1f3b;
        // background-color: rgb(51, 51, 51);
    }

    .aside-icon, .aside-img{
        border-radius: 4px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .aside-icon{
        width: 40px;
        height: 40px;
        font-size: 15px;
        font-weight: 300;
        position: relative;
        // margin-left: 14px;
        // svg{
        //     display: block;
        //     margin: auto;
        // }
    }

    .aside-img{
        height: 40px;
        width: 40px;
        margin-bottom: 8px;
    }
    .logo{
        margin-top: 8px;
        
    }

    .avatar{
        border: 2px solid white;
        border-radius: 50%;
    }
}
