
.form-edit-date, .form-edit-status{
    position: fixed;
    z-index: 1;
}
.form-edit-date{

}

.form-container{
    background-color: rgba(41, 47, 76, 0.7);
    height: 100vh;
    width: 100vw;
    position: fixed;
    opacity: 0.3;
    z-index: 2;
}

.form-add-board{
    background-color: white;
    color: rgb(50, 51, 56);
    border-radius: 8px;
    box-shadow: 0px 25px 50px -15px rgba(0, 0 ,0, 0.7);
    // height: 583.2px;
    width: 500px;
    padding: 32px;
    font-size: 15px;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .x {
        position: absolute;
        top: 16px;
        right: 16px;
        padding: 4px 8px;
        text-align: center;
        background-color: inherit;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        height: 32px;
    }
    .form-title{
        font-size: 32px;
        font-family: 'RobotoMedium';
        font-weight: 500;
        margin-bottom: 16px;
        text-size-adjust: 100%;
    }
    .board-name{
        label{
            margin-bottom: 8px;
        }
        input{
            border: 1px solid rgb(197, 199, 208);
            border-radius: 4px;
            // color: rgb(50, 51, 56); //this is the default
            font-weight: 300;
            font-family: 'RobotoLight';
            font-size: 16px;
            font-stretch: 100%;
            padding: 8px 16px;
        }
        input:focus{
            border: 1px solid rgb(0, 115, 234);
        }
        input:focus-visible{
            outline-width: 0px;
        }
        margin-bottom: 24px;
    }
    .privacy{
        text-transform: capitalize;
        .label-privacy{
            margin-bottom: 8px;
        }
        label{
            margin-bottom: 8px;

        }
        .radio>*{
            width: 144px;
        }
        margin-bottom: 24px;
    }
    .x:hover{
        background-color: #e6e9ef;
    }
    .form-btns{
        justify-content: flex-end;
        button{
            padding: 8px 16px;
            font-size: 16px;
            font-weight: 400;
            height: 40px;
            border-radius: 4px;
            border: none;
        }
        .btn-cancel{
            min-width: 80px;
            background-color: white;
            color: rgb(50, 51, 56);
            margin-right: 8px;
        }
        .btn-submit{
            min-width: 124px;
            background-color: rgb(0, 115, 234);
            color: white;
        }
    }
}


.form-edit-status{
    // TODO these colors are used in the table of tasks, make sure no repeated scss
    .working{background-color:  rgb(253, 171, 61);}
    .none{ background-color: rgb(103, 104, 121);}
    .stuck{background-color: rgb(226, 68, 92);}
    .done{background-color: rgb(0, 200, 117)}
    color: white;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.32);
    border-radius: 4px;
    font-size: 13px;
    padding: 16px;
    width: 144px; /*This is same as the status column width in TaskPreview*/
    z-index: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0 auto;
    align-content: space-between;
    height: 272px;

    .option{
        height: 32px;
        line-height: 32px;
        width: 112px;
        text-align: center;
        border-radius: 2px;
        margin-bottom: 8px;
        // display: flex;
       p{
        //    margin: auto;
       }
    }

    // justify-content: flex-start;
    // align-items: flex-start;
    overflow: hidden;
    // width: 144px;
}

.form-board-aside-controls{
    background-color: white;
    position: fixed;
    left: 269px;
    top: 290px;
    border-radius: 8px;
    box-shadow: 0px 4px 17px 6px rgba(0, 0, 0, 0.1);
    color: rgb(50, 51, 56);
    // font-size: 15px;
    font-weight: 300;
    font-family: 'RobotoLight';
    vertical-align: baseline;
    width: 264px;
    // padding: 8px;
    .form-row{
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 14px;
        line-height: 24px; /*POSS remove this*/
        font-weight: 400;
        cursor: pointer;
        display: flex;
        align-items: center;
        .left-side-icon{
            flex-basis: 16px;
            margin-right: 8px;
            color: rgb(103, 104, 121);
        }
        .text{
            flex-basis: 0%;
            flex-grow: 1;
            flex-shrink: 1;
            text-overflow: ellipsis;
        }
    }
    .row-group{
        border-bottom: 1px solid rgb(230, 233, 239);
        padding: 8px;
    }
    .form-row:hover{
        background-color: rgb(230, 233, 239); 
    }
  
}

.form-login{
    width: 100%;
    .login-header{
        background-color: rgb(247, 247, 247);
        border-bottom: 1px solid #e0e0e0;
        padding-top: 10px;
        padding-left: 8px;
        height: 65px;
        .logo-full{
            width: 180px;
            height: 44px;
            margin-left: 12px;
        }
        
    }
    .login-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;
        padding: 40px;
        .login-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 16px;
            .login-title{
                font-size: 40px;
                font-weight: 100;
                margin-bottom: 8px;
                font-family: 'RobotoThin';
            }
            
            .email-page{
                margin-top: 28px;
                width: 360px;
                margin-bottom: 32px;
                .email-input-wrapper, .password-input-wrapper, .username-input-wrapper{
                    width: 100%;
                    margin-bottom: 20px;
                    label{
                        height: 20px;
                        margin-bottom: 4px;
                        font-weight: 500;
                        font-size: 16px;
                        font-family: 'RobotoMedium';
                        font-weight: 500;
                        display: block;
                        // width: 100%;
                    }
                    input{
                        width: 100%;
                        height: 40px;
                        border-radius: 4px;
                        border: 1px solid #ccc;
                        padding: 6px 12px;
                        font-size: 16px;
                        color: #555;
                        outline: none;
                        font-family: 'RobotoLight';
                        font-weight: 300;
                        color: rgb(85, 85, 85); //NB this is the color for the placeholder
                    }
                }
                
                .btn-container{
                    height: 48px;
                    width: 100%;
                    .btn-next{
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        outline: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        line-height: 28px;
                        border: none;
                        border-bottom: 2px solid #0d91ca;
                        background: #0fa2e2;
                        font-size: 18px;
                        border-radius: 15rem;
                        color: #fff;
                        background-color: rgb(15, 162, 226);
                        .btn-text{
                            margin-right: 4px;
                        }
                        span{
                            padding-left: 8px;
                        }
                        span::before{
                            font-size: 14px;
                            content: '\f061';
                            font-family: 'AwesomeSolid';
                        }
                    }
                }
            }
            
            .separator{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 32px;
                .line{
                    width: 200px;
                    border: 0.5px solid #c5c7d0;
                    margin: 16px;
                }
                h2{
                    font-size: 16px;
                    font-family: 'RobotoLight';
                    font-weight: 300;
                }
            }
            .password-page{
                width: 100%;
                margin-bottom: 32px;
                margin-top: 28px;
                .username-input-wrapper, .password-input-wrapper{
                    display: flex;
                    justify-content: flex-end;
                    padding-right: 100px;
                    span{
                        position: relative;
                        top: -10px;
                        align-self: center;
                        color: #777;
                    }
                    .input-wrapper{
                        height: auto;
                        width: 360px;
                        margin-left: 12px;
                        input{
                            width: 100%;
                            height: 40px;
                            border-radius: 4px;
                            border: 1px solid #ccc;
                            padding: 6px 12px;
                            font-size: 16px;
                            color: #555;
                            outline: none;
                        }
                    }
                    margin-bottom: 20px;//NB error message can go here in a 20px div
                }
            }
            .btn-login{
                background: #0fa2e2;
                border-bottom: 2px solid #0d91ca;
                border-top: 0px;
                border-right: 0px;
                border-left: 0px;
                font-size: 18px;
                border-radius: 15rem;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                outline: none;
                width: 360px;
                height: 100%;
                cursor: pointer;
                line-height: 28px;
                padding: 8px 16px;
                white-space: nowrap;
                transition: transform 50ms,min-width .1s cubic-bezier(0, 0, 0.35, 1);
            }
            .signup{
                margin: 32px;
                font-size: 16px;
                font-family: 'RobotoLight';
                font-weight: 300;
                .signup-question{
                    padding-right: 5px;
                    color: rgb(51, 51, 51);
                }
                button{
                    border: none;
                    margin: 0;
                    padding: 0;
                    width: auto;
                    overflow: visible;
                    background: transparent;
                    font: inherit;
                    line-height: normal;
                    cursor: pointer;
                    color: #0fa2e2;
                    text-decoration: none;
                }
            }
        }
    }
}

.form-signup{
    .form-wrapper{
        padding: 0px;
        width: 784px;
        height: 535px;
        position: absolute;
        background-color: #fff;
        border-radius: 12px;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 2;
        display: flex;
        .page1{
            .content{
                flex: 1;
                padding: 48px 56px;
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
                width: 518px;
                .titles{
                    width: 360px;
                    .welcome{
                        color: rgb(50, 51, 56);
                        text-align: left;
                        font-size: 24px;
                        font-weight: bold;
                    }
                    .get-started{
                        color: rgb(103, 104, 121);
                        font-weight: 400;
                        text-align: left;
                        margin-top: 8px;
                        line-height: 26px;
                        font-size: 16px;
                        margin-block-end: unset;
                    }
                }
                .email{
                    margin-top: 32px;
                    width: 360px;
                    .email-input-container{
                        position: relative;
                        label{
                            font-size: 15px;
                            color: #323338;
                        }
                        .input-wrapper{
                            margin-top: 16px;
                            width: unset;
                            border: 1px solid #c5c7d0;
                            border-radius: 4px;
                            transition: border-color 200ms ease;
                            position: relative;
                            display: flex;
                            overflow: hidden;
                            input{
                                height: 36px;
                                width: 100%;
                                font-size: 18px;
                                border: 0;
                                outline: 0;
                                padding: 0px 0px 0px 8px;
                                color: #323338;
                                font-family: Arial, Helvetica, sans-serif;
                            }
                        }
                    }
                    .btn-container{
                        position: relative;
                        display: flex;
                        justify-content: flex-end;
                        margin-top: 16px;
                        .btn-continue{
                            font-weight: bold;
                            background-color: rgb(0, 115, 234);
                            color: white;
                            font-size: 16px;
                            line-height: 24px;
                            width: 360px;
                            padding: 8px 16px;
                            height: 40px;
                            outline: none;
                            border: none;
                            border-radius: 4px;
                            cursor: pointer;
                            white-space: nowrap;
                            transition: transform 50ms,min-width .1s cubic-bezier(0, 0, 0.35, 1);
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            user-select: none;
                        }
                    }
                }
                .login-wrapper{
                    width: 360px;
                    display: block;
                    margin-top: 32px;
                    .login{
                        font-weight: 400;
                        font-size: 16px;
                        color: rgb(50, 51, 56);
                        text-align: center;
                        .link-login{
                            margin-left: 4px;
                            color: rgb(0, 115, 234);
                            cursor: pointer;
                            font-weight: 400;
                            font-size: 16px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .page2{
            height: unset;
            align-items: center;
            padding: 40px 80px;
            position: relative;
            overflow: auto;
            align-self: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        
        
            .titles{
                width: 100%;
                .txt-setup{
                    text-align: left;
                    color: #323338;
                    font-size: 24px;
                    font-weight: bold;
                    word-break: break-word;
                    margin-top: 0;
                }
                .txt-fillin{
                    font-weight: 400;
                    text-align: left;
                    color: #676879;
                    font-size: 16px;
                    line-height: 26px;
                    margin-top: 8px;
                    margin: unset;
                }
            }
            .content{
                position: relative;
                width: 100%;
                margin-top: 32px;
                .input-wrappers{
                    .input-wrapper{
                        margin-bottom: 16px;
                        width: 100%;
                        position: relative;
                        label{
                            font-size: 15px;
                            color: #323338;
                        }
                        .input-wrapper{
                            width: 100%;
                            border: 1px solid #c5c7d0;
                            border-radius: 4px;
                            transition: border-color 200ms ease;
                            position: relative;
                            display: flex;
                            overflow: hidden;
                            margin-top: 8px;
                            input{
                                height: 36px;
                                width: 100%;
                                font-size: 18px;
                                border: 0;
                                outline: 0;
                                padding: 0px 0px 0px 8px;
                                color: #323338;
                            }
                        }
                        
                        
                    }
                    .checkbox-wrapper{
                        font-weight: 400;
                        font-size: 14px;
                        color: #323338;
                        display: flex;          
                        text-align: left;
                        flex-direction: column;
                        justify-content: flex-end;
                        .checkbox-container{
                            font-size: 15px;
                            display: inline-flex;
                            align-items: center;
                            flex-wrap: wrap;
                            label{
                                display: block;
                                position: relative;
                                padding-left: 30px;
                                cursor: pointer;
                                line-height: 23px;
                                // width: 75%;
                                height: 51px;
                                input{
                                    position: absolute;
                                    z-index: -1;
                                    opacity: 0;
                                }
                            }
                            .box{
                                background-color: #fff;
                                border-color: #0073ea;
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 22px;
                                width: 22px;
                                
                                border: 1px solid #c4c4c4;
                                border-radius: 4px;
                               cursor: pointer;
                                line-height: 23px;
                                white-space: nowrap;
                                font-weight: 400;
                                font-size: 15px;
                            }
                            .checked .box:hover{
                                background-color: rgba(0, 161, 230, .16);
                                // background-color: pink;
                            }
                            .checked .box::after{
                                left: 7px;
                                top: 2px;
                                width: 5px;
                                height: 12px;
                                border: solid;
                                border-color: #0085ff;
                                border-color: rgb(0, 115, 234);
                                border-width: 0 2px 2px 0;
                                transform: rotate(45deg);
                                position: absolute;
                                content: "";

                            }
                        }
                    }

                }
                .btn-container{
                    position: sticky;
                    bottom: 8px;
                    right: 0;
                    width: calc(100% + 2px);
                    background-color: white;
                    display: flex;
                    justify-content: flex-end;
                    button{
                        background-color: #0073ea;
                        color: white;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        outline: none;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        white-space: nowrap;
                        transition: transform 50ms,min-width .1s cubic-bezier(0, 0, 0.35, 1);
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        height: 40px;
                        width: 95.6094px;
                    }
                }

            }
        }
        
        .right-wrapper{
            min-width: 243px;
            overflow: hidden;
            background: var(--color-snow_white);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            .right{
                width: calc(100% - 4px);
                height: calc(100% - 8px);
                margin-right: 4px;
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
                background: #f5f6f8;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                .img-wrapper{
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                    }
                }
                .right-text{
                    width: 200px;
                    font-weight: 700;
                    font-family: 'RobotoBold';
                    font-size: 14px;
                    position: absolute;
                    bottom: 100px;
                    color: #323338;
                    text-align: center;
                    span{
                        text-align: center;
                    }
                }
            }
        }
    }
}