.main-app{
    display: flex;
}


.app-aside{
    width: 66px;
    // height: 100%;
    display: flex;
    flex-shrink: 0;
    vertical-align: baseline;


    background-color: #292F4C;
}

.task-app{
    display: flex;
}

.board-aside{
    width: 255px;
    
    background-color: #F5F6F8;
}