.user-list{
    // color: rgb(50, 51, 56);
    color: rgb(103, 104, 121);
    width: 264px;
    position: relative;
    left: 317px;
    top: 318px;
    border-radius: 8px;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.3);
    transition-delay: 0s, 0s, 0s, 0s;
    transition-duration: 0.1s, 0.1s, 0.1s;
    transition-property: width right left;
    transition-timing-function: ease-in ease-in ease-in;
    padding: 2px;
    // max-height: 230px;
    overflow-y: hidden;
    overflow-x: hidden;
    .user-search{
        font-size: 14px;
        padding: 2px 0px 3px 8px;
        border: none;
        height: 35px;
        width: 100%;
    }
    
    .title-container{
        background-color: rgb(197, 199, 208);
        height: 1px;
        width: 80%;
        margin: 10px auto;
        text-align: center;
        // position: relative;
        .title{
            background-color: white;
            // width: 40%;
            padding: 0 10px;
            margin: 0 auto;
            position: relative;
            top: -11px;
            padding: 5px;
            height: 19px;
            
        }
    }
    .user-preview{
        // color: rgb(197, 199, 208);
        width: 256px;
        padding: 4px 8px;
        height: 34px;
        // margin-bottom: 2px;
        .user-preview-inner{
            font-size: 13px;
            height: 34px;
            line-height: 34px;
            padding-left: 38px;
            position: relative;
            display: block;
            text-align: left;
            border-radius: 4px;
            .avatar{
                img{
                    height: 25px;
                    width: 25px;
                }
                height: 26px;
                width: 26px;
                top: 4px;
                left: 4px;
                display: inline-block;
                position: absolute;
                vertical-align: middle;
            }
        }
        .user-preview-inner:hover{
            background-color: rgb(0, 115, 234);
            color: white;
        }
    }
}