@font-face {
    font-family: AwesomeSolid;
    src: url(../../font/font-awesome/fa-solid-900.ttf);
}



@font-face {
    font-family: 'Roboto';
    src: url(../../font/roboto/RobotoRegular.ttf)
}

@font-face {
    font-family: 'RobotoMedium';
    src: url(../../font/roboto/RobotoMedium.ttf)
}

@font-face {
    font-family: 'RobotoLight';
    src: url(../../font/roboto/RobotoLight.ttf)
}