// $clr-working:#FDAB3D;
// $clr-undefined: #D0D0D0;
// $clr-stuck: #E37688;
// $clr-done: #33D391;

// $clr-left1: #579BFC;
// $clr-left2: #A25DDC;

// $clr-row: #f5f6f8;
// $clr-row-hover: #e6e9ef;
// $task-height: 36px;

$clr-txt-1: #323338;
$clr-btn-1: #0073ea;
$clr-grey2: #676879;