*{
    box-sizing: border-box;
    font-family: 'Roboto', helvetica, arial, sans-serif;
    line-height: 1.5;
   
}

body{
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul{
}
li{list-style: none;}

.flex{display: flex;}
.flex-col{
    display: flex;
    flex-direction: column;
}
.screen{
    background: #161631;
    opacity: .7;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}


// body{background-color: red;}