.task-app{
    width: 100%;
    .task-board{
        width: 100%;
    }
    display: flex;
}

.main-app{
    display: flex;
}

.home-page{
    padding-top: 16px;
    padding-right: 30px;
    padding-left: 30px;
    // width: 100%;
}



