.task-app{
    width: 100%;
    .board-aside{
        width: 255px;
        min-height: 100vh;
    }
    .task-board{
        width: 100%;
        height: 100%;
        overflow: scroll;
    }
    display: flex;
}

.main-app{
    display: flex;
    height: 100vh;
}

.home-page{
    padding-top: 16px;
    padding-right: 30px;
    padding-left: 30px;
    // width: 100%;
}



