@font-face {
    font-family: AwesomeSolid;
    src: url(../../font/font-awesome/fa-solid-900.ttf);
}

@font-face {
    font-family: AwesomeLight;
    src: url(../../font/font-awesome/fa-light-300.ttf);
}

// @font-face {
//     font-family: AwesomeBrands;
//     src: url(../../font/font-awesome/fa-brands-400.ttf);
// }